@model Groupify.ViewModels.Group.GroupsViewModel

@{
    ViewData["Title"] = "Groups";
}

<div>
    <h2>Groups</h2>
    <ul>
        @foreach (var group in Model.Groups.OrderBy(g => g.GroupNumber))
        {
            <li>
                <a asp-controller="Group" asp-action="Details" asp-route-id="@group.Id">
                    Group @group.GroupNumber</a> <!-- </a> need to be on the same line as Group do to some formatting -->
                in room:
                <a asp-controller="Room" asp-action="Details" asp-route-id="@group.Room.Id">
                    @group.Room.Name
                </a>
                
            </li>
        }
    </ul>
</div>